body {
	/*Box model stuff*/
	background-color: black;
	/*Typography stuff*/
	font-family: sans-serif;
	text-align: center;
	color: white;
}

.container {
	/*Box model stuff*/
	max-width: 1000px;
	min-width: 500px;
	height: auto;
	margin: 5rem auto 0;
	padding: 2rem;
	border-radius: 10px;
	background-color: rgb(94, 94, 94);
}

#userInput {
	/*Typography stuff*/
	text-align: center;
}

h1 {
	/*Box model stuff*/
	margin-top: 0;
}

#userInput {
	/*Miscellaneous*/
	margin-block: 2rem;
}

.stepsTaken {
	/*Miscellaneous*/
	margin-block: 0.5rem;
}

#steps {
	/*Box model stuff*/
	margin-top: 1.5rem;
	/*Typography stuff*/
	font-size: large;
	color: black;
	/*Miscellaneous*/
	resize: vertical;
}

.orange {
	/*Typography stuff*/
	font-weight: bolder;
	color: rgb(255, 180, 41);
}

.yellow {
	/*Typography stuff*/
	font-weight: bolder;
	color: yellow;
}

.green {
	/*Typography stuff*/
	font-weight: bolder;
	color: rgb(0, 250, 0);
}
